html,body{
    font-size:20px;
}
#main{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#header{
    width: 100%;
    height: 6.4rem;
    background: #33B5E6;
    position: fixed;
    top: 0;
    /*text-align: center;*/
    z-index: 2;
}
#group{
    width: 100%;
    height: 3rem;
    margin-top: 3rem;
}
.lcon-left{
    width: 1.9rem;
    float: left;
    margin-left: 1rem;
    margin-top: 0.2rem;
    cursor: pointer;
}
.title{
    display: inline-block;
    color: white;
    font-size: 1.75rem;
    float: left;
    font-weight: bold;
    margin-left: 1rem;
}
.active1{
    color: #33B5E6;
}
.text{
    width: 14rem;
    height: 2.4rem;
    border-radius: 1rem;
    border: 0.2rem #7ACFEF solid;
    background-color: #39C4F9;
    float: right;
    margin-right: 1rem;
    font-size: 1rem;
}
.lcon-right{
    width: 1.9rem;
    float: right;
    margin-right: 1rem;
    margin-top: 0.2rem;
    cursor: pointer;
}
#body{
    overflow-y: scroll;
    padding-top: 6.4rem;
    padding-bottom: 5rem;
    width: 100%;
    margin: 0 auto;
}
.na{
    width: 100%;
    height: 4.5rem;
    background-color: #33B5E6;
}
.bo2{
    background: white;
    float: left;
    width: 50%;
    height: 4.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1.3rem;
}
.text1{
    color: #080808;

}
#footer{
    width: 100%;
    height: 5rem;
    text-align: center;
    position: fixed;
    bottom: 0;
}

#content{
    padding: 0 1rem;
}
.content-item{
    padding: 1rem 0 0 0;
    width: 100%;
}
.content-item1{
    padding: 1rem 0 1rem 0;
    width: 100%;
}
.li{
    display: inline-block;
    width: 100%;
    height: 17.5rem;
    background: url("../img/tuu.png")no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}
.li1{
    display: inline-block;
    width: 100%;
    height: 17.5rem;
    background: url("../img/tuu1.png")no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}
.li2{
    display: inline-block;
    width: 100%;
    height: 17.5rem;
    background: url("../img/tuu2.png")no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}
.qixing{
    position: absolute;
    left: 1rem;
    top: -0.4rem;
    width: 5.5rem;
}
.fangwen{
    position: absolute;
    display: inline-block;
    color: white;
    left: 15rem;
    width: 2rem;
    top: 2rem;
}
.eye{
    width: 1.25rem;
    float: left;
    position: absolute;
    right: 4rem;
    top: 2rem;
}
.num{
    color: white;
    font-size: 1rem;
    position: absolute;
    right: 1.7rem;
    top: 1.65rem;
}
.p{
    color: white;
    font-size: 1rem;
    float: left;
    margin-left: 1rem;
    margin-top: 0.8rem;
}
.yonghu{
    position: absolute;
    left: 1rem;
    top: 11rem;
    width: 22rem;
    height:4.5rem;
    display: inline-block;
}
.touxiang{
    width: 4.5rem;
    float: left;
    height: 4.5rem;
    border-radius: 2.5rem;
    overflow: hidden;
}
.p1{
    color: white;
    font-size: 1rem;
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-right: 6rem;
}
.yong{
    display: inline-block;
    float: left;
    margin-left: 1rem;
    margin-top: 0.8rem;
    font-size: 0.8rem;
    color: white;
}
.yong img{
    float: left;
    width: 1rem;
    height: 1rem;
    margin-top: 0.1rem;
}
.yong span{
    float: left;
    margin-left: 0.2rem;
    font-size: 0.8rem;
    color: white;
}

.foot-content{
    width: 100%;
    height: 100%;
}
.item{
    background: #33B5E6;
    float: left;
    width: 25%;
    height: 5rem;
}
.tubiao1{
    margin: 0.7rem auto;
     width: 2.25rem;
 }
.tubiao2 {
    margin: 0.7rem auto;
    width: 2.25rem;
    display: none;
}
.item span{
    color: white;
    font-size: 1.3rem;
    font-size: 1.3rem;
    font-weight: bold;
}
.tiao{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.active{
    background:#E8F0F3;
}
.active img{
    display: block;
}
a:hover{
    text-decoration:none;
}